#HeaderDiv {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #080401;
  height: auto;
  width: 100%;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #000000;
}

#HeaderDiv .NavigationBar {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

#HeaderDiv .NavigationBar .Links {
  flex: 25%;
  text-align: center;
  min-width: 150px;
  padding: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  transform: scale(0.8, 1);
}

#HeaderDiv #Logo {
  display: flex;
  position: relative;
  align-items: center;
  transform: scale(0.9, 1);
  padding: 0 75px;
}
