/* IMPORTS */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* ELEMENTS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: #130F0C;
  height: auto;
}

h1 {
  font-family: 'Anton' , sans-serif;
  font-size: 80px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: #F2EAD3;
}

h2 {
  font-family: 'Anton' , sans-serif;
  font-size: 36px;
  letter-spacing: 1px;
  color: #F2EAD3;
}

h3 {
  font-family: 'Anton' , sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
  color: #F2EAD3;
}

p {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #F5F5F5;
}

li {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  color: #F5F5F5;
}

ul {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  color: #F5F5F5;
}

a {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  color: #F5F5F5;
}

button {
  font-family: 'DM Sans', sans-serif;
  width: 100px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: #F2EAD3;
}

button:hover {
  background-color: #F5F5F5;
}

label {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  color: #F5F5F5;
}

input[type=text] {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  color: #130F0C;
  border: none;
  border-radius: 10px;
  background-color: #F2EAD3;
  padding: 4px 15px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

input[type=text]:hover {
  background-color: #F5F5F5;
}

textarea {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  color: #130F0C;
  border: none;
  border-radius: 10px;
  background-color: #F2EAD3;
  padding: 4px 15px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  resize: none;
}

/* HEADER */

header {
  display: flex;
  position: sticky;
  flex-direction: column;
  margin: auto;
  width: 100%;
  top: 0;
  z-index: 2;
  height: auto;
  background-color: #130F0C;
  border-bottom: 1px solid #211717;
}

.HeaderSection {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
  flex-direction: row;
  margin: auto;
  height: 5rem;
  width: 75%;
}

.HeaderSection .Logo {
  display: flex;
  position: relative;
  align-items: center;
}

.HeaderSection .Logo img {
  height: 50px;
  margin: 0 20px;
}

.HeaderSection .NavigationBar {
  display: flex;
  position: relative;
  width: 60%;
}

.HeaderSection .NavigationBar a {
  text-align: center;
  width: 200px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.HeaderSection .NavigationBar .ShoppingCart {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  width: 200px;
}

.HeaderSection .NavigationBar .ShoppingCart .Icons {
  width: 30px;
  height: 30px;
}

.HeaderSection .NavigationBar .ShoppingCart button {
  color: #F2EAD3;
  background-color: transparent;
  width: 30px;
  height: 30px;
}

.HeaderSection .DropDown {
  display: none;
  position: relative;
  align-items: center;
  width: auto;
  height: inherit;
}

.HeaderSection .DropDown .ListButton {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.HeaderSection .DropDown button {
  color: #F2EAD3;
  background-color: transparent;
}

.HeaderSection .DropDown .Icons {
  margin: 0 10px;
  width: 30px;
  height: 30px;
}



.HeaderSection .Menu {
  display: none;
  position: absolute;
  justify-content: flex-end;
  margin: auto;
  top: 82px;
  width: 100%;
  height: auto;
  border: 1px solid white;
}

.HeaderSection .Menu .NavigationBar2 {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  margin: auto;
  width: 50%;
  border: 1px solid white;
}

.HeaderSection .Menu .NavigationBar2 a {
  text-align: center;
  margin: 5px 0;
  display: flex;
  justify-content: center;
}


/* MAIN */

main {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: auto;
  width: 100%;
  height: auto;
}

/* FOOTER */

footer {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #130F0C;
  border-top: 1px solid #211717;
}

.FooterSection {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  width: 75%;
}

.FooterSection .Top {
  display: flex;
  position: relative;
  height: auto;
  flex-direction: row;
}

.FooterSection .Top .Contact {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 50%;
}

.FooterSection .Top .Contact .Email {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin-top: 10px;
}

.FooterSection .Top .Contact textarea {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.FooterSection .Top .Contact label {
  margin: 10px 20px 10px 0;
}

.FooterSection .Top .Contact button {
  margin-top: 30px;
}

.FooterSection .Top .Contact .Message {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
}

.FooterSection .Top .Remarks {
  margin-top: 50px;
  width: 50%;
}

.FooterSection .Top .Remarks .Logo {
  padding: 0;
}

.FooterSection .Top .Remarks p {
  margin: 15px 0;
}

.FooterSection hr {
  margin-top: 50px;
  color: #F5F5F5;
}

.FooterSection .Bottom {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 100%;

}

.FooterSection .Logo {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.FooterSection .Logo .Cafe {
  margin: 0;
}

.FooterSection .Links {
  display: flex;
  align-items: center;
}

.FooterSection .Links span {
  color: #F2EAD3;
}

.FooterSection .Links .Icons {
  margin: 0 10px;
  width: 40px;
  height: 40px;
}

/* HERO SECTION */

.HeroSectionDiv {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 90vh;
  background-image: radial-gradient(circle, rgba(112,76,62,0) 0%, rgba(8,4,1,0.1) 100%), linear-gradient(90deg, rgba(8,4,1,1) 0%, rgba(8,4,1,0) 64%),
  url(./ImageAssets/nathan-dumlao-XOhI_kW_TaM-unsplash.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 1000px #130F0C inset;
  border-bottom: 1px solid #211717;
}

.HeroSectionDiv .Container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 75%;
  height: inherit;
}

.HeroSectionDiv .Elements {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: inherit;
}

.HeroSectionDiv .Elements p {
  width: 100%;
  margin: 20px 0;
}

/* SECTION1 */

.Section1Div {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #1E140E;
}

.Section1Div .Container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  height: inherit;
}

.Section1Div .Container .Row {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 600px;
}

.Section1Div .Container .RowRight {
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 600px;
  background-color: #130F0C;
}

.Section1Div .Container .Column {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 37.5%;
}

.Section1Div .Container .Column img {
  height: 26vw;
  margin: auto;
  width: auto;
  border-radius: 10px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.Section1Div .Container .Row .Column .Elements {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 375px;
  margin-left: 20px;
}

.Section1Div .Container .RowRight .Column .Elements {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 375px;
}

.Section1Div .Container .Row .Column .Elements h3,
.Section1Div .Container .RowRight .Column .Elements h3 {
  margin: 15px 0;
}

/* MINI HERO SECTION */

.MiniHeroSectionDiv {
  display: flex;
  position: relative;
  align-content: center;
  width: 100%;
  height: 400px;
  background-image: radial-gradient(circle, rgba(8,4,1,1) 0%, rgba(8,4,1,0.38139005602240894) 100%),
  url(./ImageAssets/pexels-roman-odintsov-4551154.jpg);
  background-size: cover;
  background-position: left;
  border-bottom: 1px solid #211717;
}

.MiniHeroSectionDiv .Container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: inherit;
  width: 75%;
}

.MiniHeroSectionDiv .Container h1 {
  font-size: 64px;
  text-align: center;
}

.MiniHeroSectionDiv .Container p {
  margin-top: 20px;
  text-align: center;
}

/* PRODUCTS SECTION */

.ProductsSectionDiv {
  display: flex;
  position: relative;
  height: auto;
  background-color: #1E140E;
}

.ProductsSectionDiv .Container {
  position: relative;
  margin: auto;
  width: 80%;
  height: auto;
}

.ProductsSectionDiv .Container .SquaresSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  transition: 1s;
}

.ProductsSectionDiv .SquaresSection .Squares {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #130F0C;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin: 30px;
}

.ProductsSectionDiv .SquaresSection .Squares img {
  width: 150px;
  height: 150px;
}

.ProductsSectionDiv .SquaresSection .Squares svg {
  display: flex;
  justify-content: flex-end;
  margin-left: 190px;
  margin-bottom: 180px;
  position: absolute;
  width: 120px;
  height: 120px;
}

.ProductsSectionDiv .SquaresSection .Squares svg path {
  fill: #F2EAD3;
}

.ProductsSectionDiv .SquaresSection .Squares .Price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background-color: #F2EAD3;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  color: #130F0C;
}

.ProductsSectionDiv .SquaresSection .Squares span {
  margin-left: -200px;
  margin-bottom: 3px;
  z-index: 1;
}


.ProductsSectionDiv .SquaresSection .Squares span path {
  fill: #1E140E;
}


.ProductsSectionDiv .SquaresSection .Squares .Icons {
  width: 40px;
  height: 40px;
}

/* ABOUT US SECTION */

.AboutUsSectionDiv {
  height: auto;
}

.AboutUsSectionDiv .Image {
  display: flex;
  align-items: flex-end;
  height: 500px;
  background-image: radial-gradient(circle, rgba(112,76,62,0) 0%, rgba(8,4,1,0.1) 100%), linear-gradient(90deg, rgba(8,4,1,1) 0%, rgba(8,4,1,0) 100%), 
  url('./ImageAssets/pexels-mahmoud-yahyaoui-14745650.jpg');
  background-size: cover;
  background-position: center;
}

.AboutUsSectionDiv .Image h1{
  opacity: 50%;
  margin-left: 12.5%;
  margin-bottom: 50px;
}

.AboutUsSectionDiv .Main {
  display: flex;
  position: relative;
  flex: row;
  height: auto;
  background-color: #1E140E;
}

.AboutUsSectionDiv .Main .Column {
  display: flex;
  flex-direction: column;
  width: 87.5%;
  margin-left: 12.5%;
  padding: 50px 0;
}

.AboutUsSectionDiv .Main .Column .About {
  width: 550px;
}

.AboutUsSectionDiv .Main .Column .About img {
  height: auto;
  width: 100%;
  border-radius: 10px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.AboutUsSectionDiv .Main .Column .About .Logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
}

.AboutUsSectionDiv .Main .Column .About p {
  margin: 15px 0;
}

.AboutUsSectionDiv .Main .Column .References {
  display: flex;
  flex-direction: column;
  width: 550px;
  margin-top: 50px;
}

.AboutUsSectionDiv .Main .Column .References ul {
  margin-left: 20px
}

.AboutUsSectionDiv .Main .Column .References li {
  margin: 15px 0;
}

/* BUSINESS PAGE */

.BusinessPageDiv {
  display: flex;
  position: relative;
  align-content: center;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #211717;
  background-color: #F2EAD3;
  padding: 100px 0;
}

.BusinessPageDiv .Container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: auto;
  height: inherit;
  width: 75%;
  flex-direction: row;
  background-color: #0d0c0a;
}

@media screen and (min-width: 1440px) {
  .Section1Div .Container .Column img {
    height: 400px;
  }
}

@media screen and (max-width: 1024px) {
  .HeaderSection .NavigationBar {
    display: none;
  }

  .HeaderSection .DropDown {
    display: flex;
  }

  .HeroSectionDiv {
    background-image: linear-gradient(90deg, rgba(8,4,1,1) 0%, rgba(8,4,1,0) 100%),
    url(./ImageAssets/nathan-dumlao-XOhI_kW_TaM-unsplash.jpg);
  }

  .Section1Div .Container .Column {
    width: 100%;
  }

  .Section1Div .Container .Column img {
    height: 300px;
    margin: 20px 0;
  }
  .Section1Div .Container .Row {
    flex-direction: column;
  }
  
  .Section1Div .Container .RowRight {
    flex-direction: column-reverse;
  }

  .Section1Div .Container .Row .Column p,
  .Section1Div .Container .Row .Column h3,
  .Section1Div .Container .RowRight .Column p,
  .Section1Div .Container .RowRight .Column h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
  }

  .Section1Div .Container .Row .Column .Elements {
    margin-left: 0;
  }

  .Section1Div .Container .RowRight .Column .Elements {
    margin-right: 0;
  }

  .FooterSection .Top {
    flex-direction: column;
  }

  .FooterSection .Top .Contact,
  .FooterSection .Top .Remarks{
    width: 100%;
  }

  .ProductsSectionDiv .Container {
    width: 100%;
  }

  .AboutUsSectionDiv .Image h1 {
    font-size: 56px;
  }
}

@media screen and (max-width: 768px) {
  p, label, input[type=text], textarea, li, a {
    font-size: 14px;
  }

  .HeaderSection,
  .FooterSection,
  .HeroSectionDiv .Container {
    width: 85%;
  }

  .HeroSectionDiv .Elements h1 {
    font-size: 64px;
  }

  .MiniHeroSectionDiv .Container {
    width: 100%;
  }

  .MiniHeroSectionDiv .Container h1 {
    font-size: 56px;
  }

  .AboutUsSectionDiv .Main .Column {
    width: 85%;
    justify-content: center;
    margin-left: 0;
    margin: 0 7.5%;
  }

  .AboutUsSectionDiv .Main .Column .About,
  .AboutUsSectionDiv .Main .Column .References {
    width: auto;
  }

  .AboutUsSectionDiv .Image h1 {
    font-size: 42px;
  }
}

@media screen and (max-width: 490px) {
  p, label, input[type=text], textarea, li, a {
    font-size: 12px;
  }

  .HeaderSection {
    height: 4rem;
  }

  .Logo h2 {
    font-size: 24px;
  }
  .Logo h3 {
    font-size: 10;
  }

  .HeroSectionDiv {
    background-image: radial-gradient(circle, rgba(8,4,1,1) 10%, rgba(8,4,1,0.38139005602240894) 100%),
    url(./ImageAssets/nathan-dumlao-XOhI_kW_TaM-unsplash.jpg);
  }

  .HeroSectionDiv .Elements {
    justify-content: center;
    align-items: center;
  }

  .HeroSectionDiv .Elements h1 {
    font-size: 46px;
    text-align: center;
  }

  .HeroSectionDiv .Elements p {
    text-align: center;
  }

  .Section1Div .Container .Column img {
    height: 60vw;
  }

  .FooterSection .Links .Icons {
    width: 25px;
    height: 25px;
    margin: 0 5px;
  }

  .ProductsSectionDiv .SquaresSection .Squares {
    margin: 30px 0;
  }

  .MiniHeroSectionDiv .Container h1 {
    font-size: 36px;
  }

  .AboutUsSectionDiv .Image h1 {
    font-size: 27px;
  }
}
